.chatArea {
    margin: 0;
    overflow-y: scroll;
    flex-basis: 80%;
    flex-grow: 3;
}
.chatList {
    padding: 1% 1% 1% 1%;
}

.chatContents {
    list-style-type: none;
    text-align: center;
}

.textWrapper {
    border: 1px solid black;
    max-width: 30%;
    margin-left: 70%;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

