.pathfinderBlackHeader {
    background-color: black;
    display: flex;
    flex-flow: row;
    justify-content: end;
    width: 100%;
}

.pathfinderHeaderText {
    color: white;
    margin-right: 15px;

}

.gearRow {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    overflow-y: scroll;
}

.gearCol  {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.noWrap {
    flex: 0 0 auto;
}

.inputSize {
    width: 70px;
}